
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 400;
}

:root {
	--spacer: 1rem;
	--columns: 4;
	--gap: var(--spacer);
}

@supports (line-height: 1lh) {
	:root {
		--spacer: 1lh;
	}
}

html {
	font: 100%/1.4 system-ui, sans-serif;
	background: #ddd;
	hyphens: auto;
}

.container {
	width: min(100%, 60rem);
	min-height: 70vh;
	background: whitesmoke;
	box-shadow: 0 0.5rem 0.5rem hsl(0 0% 0% / 0.2);
	border-radius: 0.5rem;
	margin: 2rem auto 6rem;
	padding: 1rem;

	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	grid-template-rows: 8vh 1fr 8vh;
	gap: var(--gap);
}

header {
	grid-column-start: 1;
	grid-column-end: 7;
	background: transparent;

	display: flex;
	justify-content: space-between;
}

main {
	grid-column-start: 1;
	grid-column-end: 7;

	display: grid;
	grid-template-columns: subgrid;
}

main section > .entries {
	outline: 0px solid red;
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacer) * 0.25);

	/*
	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	gap: var(--gap);
	*/
}

main .entries > li {
	outline: 0px solid green;
	list-style: none;

	& + li {
		/* border-top: 1px solid currentColor; */
		/* margin-block-start: 0.25rem;
		margin-block-start: 0.125lh; */
	}
}

main .entries details {
	--color-entry: hsl(20 20% 85%);

	padding: 0.25rem 0.5rem;
	background-color: color-mix(in srgb, var(--color-entry) 80%, white);
	border-radius: 0.5em;
	transition: background-color 0.25s;

	&:hover,
	&[open] {
		background-color: color-mix(in srgb, var(--color-entry) 100%, white);
	}

	&[open] {
		/* padding-block-end: calc(var(--spacer) * 0.5); */
	}

	&[open] .entry-expanded {
		max-height: 1800px;
	}

	summary {
		list-style: none;
		cursor: pointer;
		color: #222;

		h3 {
			font-size: 1rem;
			/* margin-block-end: calc(var(--spacer) * 0.25); */
			/* opacity: 0.25;
			transition: opacity 0.25s; */
		}

		&:hover h3 {
			/* text-decoration: underline; */
			/* opacity: 1; */
		}
	}
}

main .entries .entry-expanded {
	margin-block: calc(var(--spacer) * 0.5);

	display: flex;
	flex-direction: column-reverse;
	gap: calc(var(--gap) * 0.5);

	max-height: 0;
	overflow: hidden;
	transition: max-height 1400ms ease-out;

	a {
		color: currentColor;
	}
}

main .entries .entry-expanded .description {
	font-size: 0.8rem;
}

main .entries .entry-expanded .geo {
	font-size: 0.8rem;
}

main .entries .tags {
	list-style: none;
	font-size: 0.8rem;

	display: flex;
	gap: 0.5ch;

	a {
		--basecolor: #ddd;
		color: currentColor;
		text-decoration: none;
		background: var(--basecolor);
		padding: 0.2em 0.65em;
		border-radius: 0.7em;
		transition: background-color 0.2s ease;
	}

	a:is(:hover, :focus) {
		opacity: 1;
		background: color-mix(in srgb, var(--basecolor) 80%, #fff);
	}

	a.resto { --basecolor: orange; }
	a.bar { --basecolor: #007aff; color: #fff; }
}

footer {
	grid-column-start: 1;
	grid-column-end: 7;
	background: transparent;
	color: #ccc;
}
