
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 400;
}

:root {
	--spacer: 1rem;
	--columns: 4;
	--gap: var(--spacer);
}

@supports (line-height: 1lh) {
	:root {
		--spacer: 1lh;
	}
}

html {
	font: 100%/1.4 system-ui, sans-serif;
	background: #ddd;
	hyphens: auto;
}

.container {
	width: min(100%, 60rem);
	min-height: 70vh;
	background: whitesmoke;
	margin: 2rem auto 6rem;
	padding: 1rem;

	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	gap: var(--gap);
}

header {
	grid-column-start: 1;
	grid-column-end: 7;
	background: #ccc;
}

main {
	grid-column-start: 1;
	grid-column-end: 7;

	display: grid;
	grid-template-columns: subgrid;
}

main section > .entries {
	outline: 0px solid red;

	/*
	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	gap: var(--gap);
	*/
}

main .entries > li {
	outline: 0px solid green;
	list-style: none;

	padding-inline: 0.5rem;
	border: 1px solid currentColor;
	border-block-end: 0;

	&:last-child {
		border-block-end: 1px solid currentColor;
	}

	& + li {
		/* border-top: 1px solid currentColor; */
	}

	&:has(details[open]) {
		/* border-inline: 1px solid currentColor; */
	}
}

main .entries details[open] {
	padding-block-end: calc(var(--spacer) * 0.5);
}

main .entries summary {
	list-style: none;

	h3 {
		font-size: 1rem;
		margin-block: calc(var(--spacer) * 0.25);
		cursor: pointer;
	}

	&:hover h3 {
		text-decoration: underline;
	}
}

main .entries .entry-expanded {
	margin-block-start: calc(var(--spacer) * 0.5);

	display: flex;
	flex-direction: column-reverse;
	gap: calc(var(--gap) * 0.5);

	a {
		color: currentColor;
	}
}

main .entries .entry-expanded .description {
	font-size: 0.8rem;
}

main .entries .entry-expanded .geo {
	font-size: 0.8rem;
}

main .entries .tags {
	list-style: none;
	font-size: 0.8rem;

	display: flex;
	gap: 0.5ch;

	a {
		--basecolor: #ddd;
		color: currentColor;
		text-decoration: none;
		background: var(--basecolor);
		padding: 0.2em 0.65em;
		border-radius: 0.7em;
		transition: background-color 0.2s ease;
	}

	a:is(:hover, :focus) {
		opacity: 1;
		background: color-mix(in srgb, var(--basecolor) 80%, #fff);
	}

	a.resto { --basecolor: orange; }
	a.bar { --basecolor: #007aff; color: #fff; }
}

footer {
	grid-column-start: 1;
	grid-column-end: 7;
	background: tan;
}
